<div class="last-modified-bar view-border-box footer-element">
	<div class="content">
		<div class="last-modifier-tagline truncated-text {{clockIconClass}}">
			<div class="{{arrowIconClass}}"></div><a href="{{href}}"
				data-user-name="{{data-user-name}}"
				data-user-gender="{{data-user-gender}}"
				data-timestamp="{{data-timestamp}}">
				{{text}}
			</a>
		</div>
	</div>
</div>