{{#data-logos}}
{{#wordmark}}<img src="{{src}}" width="{{width}}" height="{{height}}"
	style="{{style}}"/>{{/wordmark}}
{{^wordmark}}{{msg-mobile-frontend-footer-sitename}}{{/wordmark}}
{{/data-logos}}
