<li class="{{class}}">
  {{#components}}
    <a href="{{href}}" class="{{class}}"
	   data-mw="interface" data-event-name="{{data-event-name}}">
      {{#data-icon}} {{>IconLegacy}} {{/data-icon}}
      <span>{{text}}</span>
     </a>
  {{/components}}
</li>
