<li class="{{class}}">
  {{#components}}
    <a class="{{class}}"
    {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}}>
      {{#data-icon}} {{>IconLegacy}} {{/data-icon}}
      <span>{{label}}</span>
     </a>
  {{/components}}
</li>
