{{{headelement}}}
<div id="mw-mf-viewport">
	<nav id="mw-mf-page-left" class="navigation-drawer view-border-box">
		{{{mainmenuhtml}}}
	</nav>
	<div id="mw-mf-page-center">
		<header class="header-container header-chrome">
			<form class="header" action="{{wgScript}}" method="get">
				<div>{{{menuButton}}}</div>
				<div class="branding-box">
					<a href="{{mainPageURL}}">
						<span>{{{siteheading}}}</span>
						{{#isBeta}}<sup>&beta;</sup>{{/isBeta}}
					</a>
				</div>
				<div class="search-box">
					<input class="search mw-ui-background-icon-search skin-minerva-search-trigger" type="search" name="search" id="searchInput"
						autocomplete="off" placeholder="{{placeholder}}" aria-label="{{placeholder}}"
						value="{{search}}">
				</div>
				<nav class="minerva-user-navigation" aria-labelledby="minerva-user-menu-toggle"> {{! See ToggleList's toggleID. }}
					<div>{{{searchButton}}}</div>
					{{^isAnon}}
							<div class="minerva-user-notifications">
								{{#userNotificationsData}}{{>userNotifications}}{{/userNotificationsData}}
							</div>
					{{/isAnon}}
					{{#userMenuHTML}}{{{userMenuHTML}}}{{/userMenuHTML}}
				</nav>
			</form>
		</header>
		<main id="content" class="mw-body">
			<div class="banner-container">
			{{>banners}}
			</div>
			{{#hasheadingholder}}
			{{{prebodyhtml}}}
			<div class="pre-content heading-holder">
				<div class="page-heading">
					{{{headinghtml}}}
					{{{taglinehtml}}}
				</div>
				{{#tabs}}
					<div class="minerva__tab-container">
						{{#items}}
							<a href="{{href}}" rel="{{rel}}" class="minerva__tab {{class}}" data-event-name="tabs.{{context}}">{{text}}</a>
						{{/items}}
					</div>
				{{/tabs}}
				{{{pageactionshtml}}}
				{{{postheadinghtml}}}
				{{{internalBanner}}}
				<div class="minerva__subtitle">{{{subtitle}}}</div>
			</div>
			{{/hasheadingholder}}
			{{{precontenthtml}}}
			{{{contenthtml}}}
			<div class="post-content" id="page-secondary-actions">
			{{{secondaryactionshtml}}}
			</div>
		</main>
		{{>footer}}
	</div>
</div>
<div class="mw-notification-area" data-mw="interface"></div>
<!-- v:8.1.12 -->
