<nav class="page-actions-menu">
	<ul id="page-actions" class="page-actions-menu__list">
		{{#toolbar}}
		<li id="{{item-id}}" class="page-actions-menu__list-item">
			<a id="{{id}}" href="{{href}}" class="{{class}}" role="button" title="{{title}}">
				{{text}}
			</a>
		</li>
		{{/toolbar}}
		{{#overflowMenu}}
			<li id="{{item-id}}" class="page-actions-menu__list-item">
				<input type="checkbox" id="toolbar-overflow-menu__checkbox" role="button" aria-label="{{text}}" aria-expanded="false" >
				<label class="toolbar-overflow-menu__button {{class}}" title="{{title}}" for="toolbar-overflow-menu__checkbox">
					{{text}}
				</label>
				<ul class="toolbar-overflow-menu__list">
					{{#pageActions}}
						<li>
							<a id="{{id}}" href="{{href}}" class="toolbar-overflow-menu__list-item {{class}}" title="{{title}}">
								{{text}}
							</a>
						</li>
					{{/pageActions}}
				</ul>
			</li>
		{{/overflowMenu}}
	</ul>
</nav>
