<nav class="page-actions-menu">
	<ul id="page-actions" class="page-actions-menu__list">
		{{#pageActions}}
		<li id="{{item-id}}" class="page-actions-menu__list-item">
			<a id="{{id}}" href="{{href}}" class="{{class}}" role="button" title="{{title}}">
				{{text}}
			</a>
		</li>
		{{/pageActions}}
	</ul>
</nav>
