<form action="{{form-action}}" method="get">
	<div class="search-box">
		<input type="hidden" name="title" value="{{page-title}}"/>
		<input class="search mw-ui-background-icon-search skin-minerva-search-trigger" type="search" name="search" id="searchInput"
			{{{html-input-attributes}}}">
	</div>
</form>
