<ul class="user-links">
	<li>
		<a href="{{talkPageLink}}"
		   {{! data-title is used in talk overlay. Do not remove it }}
		   data-title="{{talkPageTitle}}"
		   class="{{userPageIconClass}}">{{talkPageLinkTitle}}</a>
	</li>
	<li>
		<a href="{{contributionsPageLink}}">{{contributionsPageTitle}}</a>
	</li>
	<li>
		<a href="{{uploadsPageLink}}">{{uploadsPageTitle}}</a>
	</li>
</ul>
