.minerva__tab-container {
	white-space: nowrap;
	overflow-x: auto;

	.minerva__tab {
		margin: 0 10px 0 0;
		padding-bottom: 6px;
		display: inline-block;

		// TODO: 'a' selector after caching
		a,
		.minerva__tab-text {
			font-size: @font-size-tag-line;
			font-weight: bold;
			color: @color-subtle;
			text-decoration: none;

			&.new {
				color: @color-link-red;
			}
		}

		// TODO: Remove entire selector after caching
		// Currently needed to override default link styles
		a:not( [ role='button' ] ) {
			&:link,
			&:visited,
			&:hover,
			&:active {
				color: @color-subtle;
				text-decoration: none !important;
			}
		}

		// TODO: Remove entire selector after caching
		&.new a:not( [ role='button' ] ) {
			.cdx-mixin-link-red();
		}

		&:last-child {
			margin-right: 0;
		}

		// note core doesn't use BEM.
		&.selected {
			border-bottom: @border-width-thick @border-style-base #54595d;
		}
	}
}
