@import 'mediawiki.skin.variables.less';
@fade-height: 84px;
// Where the solid color should kick in, measured from the top of the fade
// container, so the solid portion matches the button's height.
@fade-stop: @fade-height - @min-size-interactive-touch;

.minerva--lead-section-container {
	position: relative;
	overflow: visible;

	.minerva--lead-section--collapsed {
		height: var( --mw-lead-section-container-height, auto );
		overflow: hidden;
	}

	.minerva--lead-fade-container {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: @fade-height;
		background: linear-gradient( to bottom, transparent, @background-color-base @fade-stop );
	}

	.minerva--lead-section__button {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		color: @color-progressive;
	}
}
