@import 'mediawiki.skin.variables.less';

.minerva--minimal {
	.header-container.header-chrome {
		border-bottom: @border-width-base @border-style-base @border-color-muted;
		background-color: @background-color-interactive-subtle;
		box-shadow: none;
	}
}
